/*
Author: Rebecka Skog
Date: 
*/
body {
    background-color: papayawhip;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: darkred;
    font-style: italic;
}

p {
    color: green;
}

ul {
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkcyan;
    list-style-type: circle;
}

h2 {
    color: coral;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ol {
    color: darkorchid;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: upper-latin;
}