/*
Author: Rebecka Skog
Date: 08-10-2025
*/
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    background-color: rgb(222, 178, 235);
}
#header {font-size: 250%; }

.list {background-color: rgb(172, 116, 225);}
.list {padding-right: 15px;}
.list {margin-top: 30px;}

.cursive { font-style: italic;}
.cursive {margin-top: 50px;}

h1, h2 { font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: x-large;
    list-style-type: square;
}
h1 {
    color: darkmagenta;
}
h2 {
    color: rgb(42, 2, 80);
    font-size: xx-large;
}
a {
    font-size: x-large;
    color: darkblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
